@font-face {
	font-family: "Brasika";
	src: url("assets/brasika.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

:root {
	--teams-banner: url("assets/placeholderPhoto.jpg");
}

body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

nav {
    top: 0;
    background-color: #ffffff;
	top: 15px;
    width: 60%;
    min-height: 70px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family:  sans-serif;
    z-index: 1000;
}

.main_Nav {
    position: sticky;
}

.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    gap: 25px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.joinUs {
	background-color: #f8e4b6;
	max-width: none;
	width: 120px;
	height: 40px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 20px;
	width: 120px;
	border-radius: 50px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.navbar-toggler {
	border: none;
}

/* body */

.eventsHeaderBanner {
    background-image: url(assets/placeholderPhoto.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 85%;
    border-radius: 25px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translateY(-30px);
    z-index: 20;
}

.eventDisplay {
    background-color: #B82C85;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}

/* footer */

footer {
    background-color: #7583F1;
    max-height: none;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Brasika', sans-serif;
    color: #333333;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* responsiveness */

@media (min-width: 1440px) {

    .banner-text {
        font-size: 28px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Brasika', sans-serif;
        color: #7583F1;
        font-size: 56px;
        font-weight: bold;
    }

    .imageResize {
        scale: 1.2;
        margin-top: 20px;
    }

    .section {
        width: 800px;
        height: 350px;
        font-size: 28px;
    }

    .sectionImage {
        width: 450px;
        height: 450px;
    }

    .fade-row {
        margin-bottom: 120px;
    }
}


@media (min-width: 1600px) {

    .banner-text {
        font-size: 32px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Brasika', sans-serif;
        color: #7583F1;
        font-size: 58px;
        font-weight: bold;
    }

    .imageResize {
        scale: 1.3;
        margin-top: 18px;
    }

    .section {
        width: 800px;
        height: 350px;
        font-size: 28px;
    }

    .sectionImage {
        width: 450px;
        height: 450px;
    }

    .fade-row {
        margin-bottom: 120px;
    }
}