@font-face {
    font-family: 'Brasika';
    src: url('assets/brasika.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #2F3AA8 !important;
}



/* Navbar Container */
.custom-navbar {
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
}

/* Logo */
.logo {
    font-weight: bold;
    color: white;
}

/* Nav Links */
.nav-link {
    color: white !important;
    font-weight: 500;
    padding: 8px 18px !important;
    border-radius: 30px;
    transition: 0.3s ease;
}

/* Active pill effect */
.nav-link.active {
    background: white;
    color: black !important;
}

/* Join Button */
.join-btn {
    background: white;
    color: black !important;
    border-radius: 30px;
    padding: 8px 20px !important;
    font-weight: 600;
}

/* Hover effect */
.nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* HERO SECTION */

.banner {
    background-color: #E9ECFE;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-text {
    width: 100%;
    height: 90vh;
    padding: 60px;
    border-radius: 19px;
    font-family: sans-serif;
    color: black;
    font-size: 23px;
    text-align: left;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.2s
}

.banner-text hr {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.4s;
}

.banner-text p {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.6s;
}

.banner-text .letsGetStarted {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.8s;
}

.Titleline {
    width: 35%;
    border-width: 3px;
    color: 2F3AA8;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner-img {
    scale: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Brasika', sans-serif;
    color: #2F3AA8;
    font-size: 48px;
    font-weight: bold;
}

.letsGetStarted button {
    width: 300px;
    height: 50px;
    background-color: #2F3AA8;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.letsGetStarted button:hover {
    background-color: #2F3AA8;
    scale: 1.05;
}

.circleImage {
    background-color: #ffffff;
    width: 450px;
    height: 450px;
    border-radius: 900px;
    z-index: 1;
}

/* WAVE */


.wave-container {
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    z-index: 0;
    margin-top: -200px;

}

.wave-container svg {
    width: 200%;
    height: 250px;
    /* BIGGER HEIGHT */
}

.wave {
    animation: waveMove linear infinite;
}

/* Light purple shades */
.wave1 {
    fill: #d4c7fa;
    animation-duration: 8s;
}

.wave2 {
    fill: #4e2dae;
    animation-duration: 12s;
    animation-direction: reverse;
}

.wave3 {
    fill: #ffffff;
    border: none;
    animation-duration: 16s;
}

@keyframes waveMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* NAVIGATION BAR */

nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    width: 95%;
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: sans-serif;
    z-index: 1000;
}

.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    gap: 25px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.joinUs {
    background-color: #F8E4B6;
    max-width: none;
    width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    width: 120px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* MAIN ACCOUNT */

.mainContent {
    width: 95%;
    height: auto;
    margin: 20px auto;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content {
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 700px;
    height: 300px;
    overflow: auto;
    padding: 20px;
    text-align: left;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.thatSection {
    translate: -110px;
    text-align: right;
}

.sectionImage {
    position: relative;
    background-color: #7583F1;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    z-index: 1;
}

/* Initial hidden state */
.fade-row .col-md-7,
.fade-row .col-md-5 {
    opacity: 0;
    transition: all 0.9s ease;
}

/* Left column (text) */
.fade-row .col-md-7 {
    transform: translateX(-60px);
    z-index: 10;
}

/* Right column (image) */
.fade-row .col-md-5 {
    transform: translateX(60px);
    z-index: 1;
}

/* When row becomes visible */
.fade-row.show .col-md-7,
.fade-row.show .col-md-5 {
    opacity: 1;
    transform: translateX(0);
}





/* BUBBLE ANIMATION */

.bubble-container {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 16px;
}


.bubble {
    position: absolute;
    bottom: -40px;
    background: #D9D9D9;
    border-radius: 50%;
    border: 3px solid #7583F1;
    animation: rise 6s infinite ease-in;
}


.bubble:nth-child(1) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-duration: 4s;
}

.bubble:nth-child(2) {
    left: 40%;
    width: 50px;
    height: 50px;
    animation-duration: 6s;
}

.bubble:nth-child(3) {
    left: 60%;
    width: 10px;
    height: 10px;
    animation-duration: 5s;
}

.bubble:nth-child(4) {
    left: 75%;
    width: 70px;
    height: 70px;
    animation-duration: 7s;
}

.bubble:nth-child(5) {
    left: 90%;
    width: 14px;
    height: 14px;
    animation-duration: 4.5s;
}

.bubble:nth-child(6) {
    left: 10%;
    width: 60px;
    height: 60px;
    animation-duration: 5s;
}

.bubble:nth-child(7) {
    left: 35%;
    width: 80px;
    height: 80px;
    animation-duration: 7s;
}

.bubble:nth-child(8) {
    left: 80%;
    width: 54px;
    height: 54px;
    animation-duration: 4.5s;
}

/* Rising animation */
@keyframes rise {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(-260px) scale(1.2);
        opacity: 0;
    }
}

/* SOCIAL LINKS */

.socials {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    width: 400px;
}

.socialbtn {
    width: 70px;
    height: 70px;
    background-color: #D3DEFC;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
}



/* FOOTER */

footer {
    background-color: #7583F1;
    width: 100%;
    max-height: none;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Brasika', sans-serif;
    color: #333333;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* RESPONSIVENESS */

@media (min-width: 1440px) {

    .banner-text {
        font-size: 28px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Brasika', sans-serif;
        color: #7583F1;
        font-size: 56px;
        font-weight: bold;
    }

    .imageResize {
        scale: 1.2;
        margin-top: 20px;
    }

    .section {
        width: 800px;
        height: 350px;
        font-size: 28px;
    }

    .sectionImage {
        width: 450px;
        height: 450px;
    }

    .fade-row {
        margin-bottom: 120px;
    }
}


@media (min-width: 1600px) {

    .banner-text {
        font-size: 32px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Brasika', sans-serif;
        color: #7583F1;
        font-size: 58px;
        font-weight: bold;
    }

    .imageResize {
        scale: 1.3;
        margin-top: 18px;
    }

    .section {
        width: 800px;
        height: 350px;
        font-size: 28px;
    }

    .sectionImage {
        width: 450px;
        height: 450px;
    }

    .fade-row {
        margin-bottom: 120px;
    }
}

/* MOBILE RESPONSIVENESS */

@media screen and (max-width: 768px) {

    .banner {
        padding: 20px 20px 20px 20px;
        height: auto;
    }

    .banner-text {
        height: auto;
        padding: 20px 20px 20px 20px;
        border-radius: 16px;
        font-size: 1.2rem;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 2.2rem;
        line-height: 1.4;
    }

    .banner-text p {
        margin-top: 20px;
        line-height: 1.6;
    }

    .Titleline {
        width: 100%;
    }

}

@media (max-width: 576px) {

    .banner {
        padding: 10px 10px 10px 10px;
        height: auto;
    }

    .banner-text {
        height: auto;
        padding: 10px 10px 10px 10px;
        border-radius: 14px;
        font-size: 1rem;
        text-align: center;
    }

    .banner-text h1 {
        font-size: 1.8rem;
        line-height: 1.3;
    }

    .banner-text p {
        margin-top: 15px;
        line-height: 1.6;
    }


    .Titleline {
        width: 100%;
    }


    .letsGetStarted {
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }

    /* NAVBAR */

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .logo img {
        display: none;
    }

    .joinUs {
        width: 100px;
        text-align: center;
        vertical-align: middle;
    }

    /* MAIN CONTENT */

    .mainContent {
        width: 100%;
        padding: 10px;
    }

    .content {
        width: 100px;
        padding: 10px;
    }

    .section {
        width: 100%;
        height: auto;
        font-size: 18px;
    }

    .thatSection {
        translate: 0px;
        text-align: left;

    }


}