@font-face {
    font-family: 'Brasika';
    src: url('assets/brasika.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #FFE1F6;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/*
nav {
    top: 0;
    background-color: #ffffff;
    width: 60%;
    min-height: 70px;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family:  sans-serif;
    z-index: 1000;
}
*/
h1, h2{
    color: #9C2470;
    font-family: 'Brasika', sans-serif;
}

p{
    color: #9C2470;
}

/*
.main_Nav {
    position: sticky;
    background-color: #9C2470;
}
.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    gap: 25px;
}

.nav-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.joinUs{
    background-color: #E9ECFE;
    max-width: none;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    border-radius: 50px;
    color: #9C2470;
    text-decoration: none;
    font-weight: bold;
}
*/
.headerBanner {
    background-color: #FECAEE;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 85%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-30px);
    z-index: 20;
}

.productsBtn{
    background-color: #9C2470;
    color: #FFFFFF;
    border-radius: 50px;
    border: none;
    width: 30%;
}

.headerSection{
    background-color: #FECAEE;
    width: 85%;
    height: 50vh;
    overflow: hidden;
    border-radius: 50px;
}

.gamePicture{
    background-color: #9C2470;
    width: 100%;
    border-radius: 25px;
}

.product{
    width: 85%;
}

.card{
    border: none;
}

.card:hover{
    background-color: #FFD4E5;
    transition: 0.3s;
}

.card:hover .prodDesc h2, .card:hover .prodDesc p{
    color: #57143F;
    transition: 0.3s;
}

.prodImg{
    height: 210px;
    width: 210px;
    max-width: 100%;
    display: block;
    background-image: url(assets/placeholderPhoto2.jpg);
    background-size: cover;
    background-position: center;
}

.prodDesc hr{
    width: 50%;
    height: 5px;
    background-color: #B1C764;
    border: none;
}

.prodDesc p{
    color: #8794F3;
}

.prodSection{
    background-color: #FECAEE;
    width: 85%;
    height: 50vh;
    overflow: hidden;
    border-radius: 50px;
}

.prodPicture{
    background-color: #9C2470;
    width: 50%;
    border-radius: 25px;
    align-self: stretch;
}

.footer {
    background-color: #FECAEE;
    max-height: none;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-family: 'Brasika', sans-serif;
    color: #333333;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .prodSpotlight{
        margin-top: 10dvh;
        height: 30dvh;
    }
    
    .footer{
        font-size: small;
    }
}