@font-face {
	font-family: "Brasika";
	src: url("assets/brasika.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}



:root {
	--teams-banner: url("assets/placeholderPhoto.jpg");
}

body {
	background-color: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	
	overflow-x: hidden;
    animation: body_load 1s ease-in-out forwards;
}

@keyframes body_load {
	0% {
		opacity: 0;
	}

	90%, 100% {
		opacity: 1;
	}
}

nav {
    top: 20px;
    background-color: #ffffff;
    width: 60%;
    min-height: 70px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family:  sans-serif;
    z-index: 1000;
	transition: none !important;
	animation: none !important;
}

.main_Nav {
    position: sticky;
}

.logo img {
    height: 40px;
}

.nav-list {
    list-style: none;
    gap: 25px;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.joinUs {
	background-color: #f8e4b6;
	max-width: none;
	width: 120px;
	height: 40px;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-left: 20px;
	width: 120px;
	border-radius: 50px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}

.navbar-toggler {
	border: none;
}

/*body*/

.teamsPhoto {
	background-image: url(assets/placeholderPhoto.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 95%;
	margin-top: 12px;
	border-radius: 25px;
	box-shadow: inset 0 0 10px rgba(0, 0, 10, 0.5);
	align-items: center;
	justify-content: center;
	display: flex;
}

.teamsNav {
	display: flex;
	position: relative;
	color: #b82c85;
	width: 55%;
	z-index: 100;
}

.teamsNavItems {
	font-weight: 400;
	transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
	color: #b82c85;
}

.teamsNavItems:hover {
	transform: translateY(-2px);
	cursor: pointer;
}

.teamsNavItems.active {
	font-weight: 700;
	color: #b82c85;
}

.teamsBanners {
	background-image: var(--teams-banner);
	background-size: cover;
	background-position: center;
	height: 35vh;
	width: 80%;
	border-radius: 25px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	align-items: center;
	justify-content: center;
	display: flex;
	z-index: 20;
}

.members_Icons:hover {
	transform: translateY(-10px);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

/* footer */

footer {
	background-color: #7583f1;
	max-height: none;
	height: 200px;
	padding: 20px;
	text-align: center;
	font-family: "Brasika", sans-serif;
	color: #333333;
	position: relative;
	bottom: 0;
	width: 100%;
}

/* responsiveness */

@media (min-width: 600px) {
	.banner-text {
		font-size: 28px;
	}

	h1 {
		font-family: "Brasika", sans-serif;
		color: #7583f1;
		font-size: 56px;
		font-weight: bold;
	}

	h3 {
		font-family: "Brasika", sans-serif;
		color: #7583f1;
		font-size: 30px;
		font-weight: bold;
	}

	.imageResize {
		scale: 1.2;
		margin-top: 20px;
	}

	.section {
		width: 800px;
		height: 350px;
		font-size: 28px;
	}

	.sectionImage {
		width: 450px;
		height: 450px;
	}

	.fade-row {
		margin-bottom: 120px;
	}
}
